body {
    color: #474848;
}

a {
    color: #0b3d62;
}

/* ---------------------------------------
Classes existantes
---------------------------------------- */
.black-bg {
    background: #0b3d62;
    border-bottom: 1px solid #11344e;
}

.sidebar-toggle-box .fa-bars {
    color: #fff;
}

ul.top-menu > li > .logout {
    color:#000;
}

aside {
    position:relative;
    z-index:45;
}

.site-footer {
    position:relative;
    color: #0b3d62;
}

.wrapper {
    margin-top: 0;
}

/* -------------------------------------------
Mes Classes
--------------------------------------------- */
.visible {
    display: block;
}

.pay-btn-block {
    padding: 10px 30px;
    text-align: end;
}

.flex {
    display:flex;
}
@media screen and (max-width: 768px) {
    .flex {
        flex-direction: column;
    }
}

.flex-h {
    flex-direction:row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.cotisation-panel {
    max-height: 400px !important;
    overflow-y: scroll;
}

/* .cotisation-panel .content-panel {
    overflow: scroll;
} */

.info-btn {
    text-align: center;
}

#top_menu {
    padding-top: 60px;
    background: #e8e5e5;
}

#top_menu ul {
    display: flex;
    justify-content: center;
}

#contactTech {
    margin: 20px auto;
    padding: 12px 5px;
    text-align: center;
    max-width: 330px;
    background-color: #fff;
    border-radius: 5px;
}

#contactTech div p {
    padding-top: 5px;
}

.notif {
    font-size: 18px;
    text-align: center;
}

.link-file {
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0;
}


@media screen and (max-width: 768px) {
    a.logo {
        font-size: 16px;
    }

    #top_menu ul {
        flex-direction: column;
    }

    #top_menu ul.top-menu > li {
        border-bottom: 1px solid #0b3d62;
    }

    ul.top-menu > li > a {
        padding: 4px;
    }
}


#top_menu ul.top-menu > li > a {
    color: #0b3d62;
    border: none !important;
}

#top_menu ul.top-menu > li > a:hover {
    border: none !important;
    color: #7f7f7f;
}

#top_menu ul.top-menu > li > a.btn 
{
    color: #fff !important;
    width: 100%;
}

.info-block {
    font-size: 16px;
}

.table > thead:first-child > tr:first-child > th, 
.table > tbody > tr > td {
    font-size: 14px;
}

.alert-banner {
    font-size: 18px;
}

.hasNoMail {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding: 0 15px;
}

/* ----------------------------------------------
PARTIE USER
------------------------------------------------ */

.user-panel {
    background-color: #fff;
    box-shadow: -1px 5px 3px rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-info, .user-detail {
    box-sizing: border-box;
}

.user-info {
    width: 30%;
}

.user-detail {
    width: 65%;
}

.user-detail h3 {
    padding-bottom: 30px;
}

.user-info-content {
    padding: 40px 20px 70px 20px;
    border-radius: 15px;
    text-align: center;
}

.user-info-content img {
    width: 35%;
    border-radius: 50%;
}

.user-detail-content label {
    padding: 10px 0;
    display: block;
    border-top: 1px solid #8080804d;
    font-weight: 700;
    font-size: 17px;
}

.user-info-content p, .user-detail-content p {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    color: #000;
}

@media screen and (max-width: 800px) {
    .user-panel {
        flex-direction: column;
    }

    .user-info {
        width: 70%;
    }

    .user-detail {
        width: 100%;
        padding: 0 15px;
    }
}

@media screen and (min-width:300px) and (max-width: 500px) {
    .user-info {
        width: 90%;
    }
}

#user-profile-form .form-group {
    font-size: 16px;
    font-weight: 700;
}

.top-separateur {
    height: 60px;
}

.nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 0;
}

.option-container {
    width: 130px;
}

.option {
    width: 100%;
}

.option a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px solid transparent;
    padding: 15px 0;
}

.option a img {
    width: 65px;
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    border: 2px solid transparent;
    border-radius: 18px;
}


.option a:hover img {
    border-color:#0b3d62;
    transition: 1s;
}

.option a p {
    text-align: center;
    color: #0b3d62;
    font-size: 15px;
    font-weight: 800;
}

/* ---------------------------------------------------
FORMULAIRE EXTERIEURS
------------------------------------------------------ */
header {
    padding-top: 50px;
    padding-bottom: 50px;
}

.branding, .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.branding {
    padding-bottom: 25px;
}

.branding img {
    width: 120px;
}

.title {
    flex-direction: column;
    color: #fff;
}

.title .subtitle {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    letter-spacing: 3px;
}

.form-login {
    margin: 15px auto 0;
}

.form-detail {
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.bottom-form {
    text-align: center;
    font-size: 16px;
    line-height: 35px;
}

.bottom-form a {
    display: block;
    padding-top: 10px;
    font-size: 19px;
}

.btn-support {
    padding: 18px 0;
    padding-right: 26px;
    display: flex;
    justify-content: center !important;
}

.disclaimer-box {
    position: absolute;
    z-index: 100;
    top:0; bottom:0; left:0; right:0;
    background-color: #000;
    height: 100%;
    transition:1.5s;
}

.disclaimer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.backstretch::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00080b69;
}

@media screen and (max-width:768px) {
    .title {
        text-align: center;
    }

    .title h1 {
        line-height: 50px;
    }

    .subtitle {
        line-height: 35px;
    }

    .btn-support {
        padding-right: 0;
    }
}

/* ---------------------------------------------
PARTIE ADMIN*
----------------------------------------------- */
#admin-login {
    background-color: #97e0ea3d;
}

.admin .form-login {
    background: #fff;
    box-shadow: 1px 1px 9px 1px #09090959;
}

.admin .form-login h2.form-login-heading {
    background: #469928;
}

.adminView {
    padding-top: 50px;
}

.table_recu {
    border: 1px solid #000;
    width: 100%;
}

.table_recu th, .table_recu td {
    padding: 3px;
}

.table_recu thead th {
    font-size: 35px;
    text-align: center;
}

.table_recu tbody th, 
.table_recu tbody td {
    width: 25%;
    border: 1px solid #000;
}

.table_recu tbody th {
    background-color: #5cb85c;
    color: #fff;
    text-align: center;
}

.table_recu tbody td {
    color: #000;
    text-align: center;
}

.divider {
    height: 40px;
    width: 100%;
}

#searchMedecin td,
#searchMedecin th,
.bdMedecin td,
.bdMedecin th 
{
    padding: 5px;
}

.txt-green td {
    color: green;
}

.txt-red td {
    color: red;
}


/* --------------------------------------------
Card type
------------------------------------------*/
@media screen and (max-width:430px) {
    .card-types {
        flex-direction: column;
    }
}
.card-types {
    display: flex;
    justify-content: space-around;
}

.card-type-content {
    margin: 20px;
}

.card-type {
    width: 200px;
    height: 110px;
    margin: 0 auto;
    box-shadow: 1px 1px 30px 0px #0000004a;  
    box-sizing: border-box;
    border-radius: 15px;
}

.card-type a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 15px;
    color: #0b3d62;
}

.card-international a
 {
    background-color: #0b3d62;
    color: #fff;
}

.card-type a h5 {
    font-size: 23px;
}

.btn-submit {
    background-color: #0b3d62;
    color: #fff;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.btn-submit:hover,
.btn-submit:focus {
    color: #000;
    background-color: #69acdf;
}

#card-form .form-group {
    padding: 15px 0;
    display: flex !important;
    justify-content: center !important;
}

#card-form .btn-submit {
    padding: 10px 16px;
}

